*.iml
.gradle
.idea
.kotlin
/local.properties
/build
/app/build
/bistulogin/build
/examples/build
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.obsidian
.planning
.reasonix
/dontneed
/docs/essay
reasonix.toml
*.jar
!gradle/wrapper/gradle-wrapper.jar
app/keystore.jks
